{% extends "base.html" %}

{% load i18n mezzanine_tags %}

{% block full_meta_title %}
{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}
{% if settings.SITE_TAGLINE %} - {{ settings.SITE_TAGLINE }}{% endif %}
{% else %}{% trans "Home" %}{% endif %}
{% endblock %}

<div id='titleTop'>
{% block title %}
{% endblock %}
</div>

{% block breadcrumb_menu %}

{% endblock %}

{% block full %}
<div id="topblock" class="row">

<div id="toptext" class="span8 left">

    <h1>{% trans "Get the obscure sequels to your favorite stories!" %}</h1>
    <h2>Ever wonder what happened next?</h2>
    <ul class="toplist">
        <li>Did the hero go on to greater things?</li>
        <li>Did his friend get away safely across the sea?</li>
        <li>What about the boy and the girl; did they ever marry?</li>
    </ul>
    <h2 class='endWord'>Get the answers here; we stock the whole story!</h2>
</div>

<div class="span4 right">
    <img src="/static/img/rdg.jpg" height="374px" width="373px"></img>
    <!--<img class="thumbnail" src="http://ipsumimage.appspot.com/440x240" />-->
</div>

</div><!-- /row -->

<div class="row">

    <div class="span4">
    
        <h2>The Problem</h2>
        <p>We often wish to find out what happened next; did the promising youth turn out well? Did the boy get the girl? And so forth.</p>
        <p>And often our favorite authors have answered these questions in the form of sequels. However, these sequels can be obscure or 
        out of print. Robert Louis Stevenson's Kidnapped is far more famous (and easier to find) than its sequel Catriona. 
        The Princess and the Goblin is a wonderful and famous story, but that story is completed in the lesser-known work, The Princess and
        Curdie. Many of us have taken a book home to enjoy, only to find that the rest of the story was out of print, and available in the
        public library if we were lucky.</p>
    
    </div>
    <div class="span4">
    
        <h2>Our Solution: Stock the Whole Story!</h2>
        <p>At The Whole Story, we stock sequels and prequels to your favorite works. You can buy omnibus editions as well as boxed sets, 
        or just buy the stories in a series to read one by one! Our promise to you is that if we have one book in the series,
        we will have the next book in the series. </p>
    
    </div>
    <div class="span4">
        
        <h2>Locations and Other Information</h2>
        <p> Like the old Upstart Crowe stores, we have locations all over the SF Bay Area.</p>
        
    </div>

</div><!-- /row -->

{% endblock %}
